[Unit]
Description=Wickel Dash
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Still-Wickel-Logger/dash/
User=root
Group=root
ExecStart=/home/pi/Still-Wickel-Logger/dash/start.sh
ExecStop=
Restart=always
SyslogIdentifier=WickelDash

[Install]
WantedBy=multi-user.target